.jira {
  font-family: 'Poppins', sans-serif;
  /* height:100%; */
}


/*back ground của tiêu đề tab Board */

.BACKLOG {
  background-color: #e5e7eb;
}
.SELECTED {
  background-color: #c7d2fe;
}
.IN {
  background-color: #bfdbfe;
}
.DONE {
  background-color: #a7f3d0;
}
.btnTrigger:focus{
  outline: 0 !important
}
.btnTrigger{
  background-color:transparent !important;
}

.jiraLogo{
  color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:#001529;
    cursor:pointer;
   font-family:  'Poppins', sans-serif;
}
button:focus {
  outline: 0px dotted !important;

}

:where(.css-dev-only-do-not-override-1adbn6x).ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #173f66!important;
}
:where(.css-dev-only-do-not-override-1adbn6x).ant-switch.ant-switch-checked {
  background: #001529 !important;
}


button, [type='button'] {
 
  background-color: #bfbfbf;

}




.btnBlue {
  color: #fff !important;
  background-color:#001529 !important;
}
.btnRed{
  background-color:red !important;
  color: #fff !important;
}
/* :where(.css-dev-only-do-not-override-1adbn6x).ant-switch:not(.ant-switch-disabled) {
  background-color:#001529 !important;
} */